.h-banner {
	top: 0px;
	left: 0px;
	position: fixed;
	background-color: rgb(0, 212, 138);
	text-align: center;
	width: 100%;
	height: 20%;
	z-index: 990;
}
#h-banner {
	height: 22%;
	background-color: rgb(0, 182, 108);
}
#top-image {
	position: absolute;
	top: 22%;
	width: 100%;
	height: 75%;
	left: 0px;
}
.footer {
	position: absolute;
	top: 317%;
	margin-top: 10px;
	left: 0px;
	background-color: rgb(0, 212, 138);
	z-index: 990;
	width: 100%;
	height: 20%;
}
#logo {
	height: 90%;
	width: 10%;
	left: 0px;
	padding: 5px;
	margin: 0px;
	position: absolute;
}
button {
	position: absolute;
	right: 3%;
	width: 10%;
	height: 35%;
}
#login {
	top: 7%;
}
#signout {
	top: 52%;
}
h1 {
	padding-top: 1%;
	text-align: center;
	font-size: 75px;
	margin: 0px;
}
body {
	background-color: lightblue;
}
.blurb {
	width: 25%;
	position: absolute;
	text-align: center;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 10px;
}
#right-info {
	right: 0px;
	top: 40%;
}
#mid-info {
}
p {
	margin: 0px;
	font-size: 18px;
	color: black;
}
#body-content {
	z-index: 10;
	position: absolute;
	left: 0px;
	height: 227%;
	width: 100%;
	top: 97%;
}
table {
	width: 100%;
}
#body-table {
	height: 98%;
}
td {
	width:33%;
	height: 33%;
	text-align: center;
}
.footer-table {
	width: 30%;
}
.footer-td {
	border: 0px solid black;
}
a {
	text-align: center;
	padding-top: 10px;
	text-decoration: none;
	color: black;
}
img {
	width: 180px;
}