p {
  text-align: center;
  margin: 20px;
}
input {
  height: 40px;
  width: 400px;
  text-align: center;
  font-size: 25px;
}

.submit {
  height: 50px;
  text-align: center;
  position: static;
  text-align:center;
  font-size: 25px;
}
