<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
  <link rel="icon" href="favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Amatic+SC" rel="stylesheet">
  <link rel="stylesheet" href="static/css/index.css" type="text/css">
</head>
<body>
  <div class="h-banner" id="h-banner">
    <div class="h-banner">
      <a href="/">
        <img src="static/img/logo.png" id="logo">
        <h1>ColdSteel Projects Site</h1>
      </a>
      <form method="post" action="/logsig">
        {%if not logged_in%}
        <button id="login" name="login">
          Login
        </button>
        <button id="signout" name="signup">
          Sign Up
        </button>
        {%endif%}
        {%if logged_in%}
        <button id="logout" name="logout">
          Logout
        </button>
        {%endif%}
      </form>
    </div>
  </div>
  <div style="margin-top:10%;width:100%;">
    <h2 style="text-align:center; padding: 20px;">{{ title }}</h2>
  </div>
</body>
