<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" href="static/css/index.css" type="text/css">
    <title>FlashFire RPG Wiki</title>
  </head>
  <body>
    <div class="h-banner" id="h-banner">
      <div class="h-banner">
        <a href='/'>
          <img src="static/img/logo.png" id="logo">
          <h1>ColdSteel Projects Site</h1>
          <form method="post" action="/logsig">
            {%if not logged_in%}
            <button id="login" name="login">
              Login
            </button>
            <button id="signout" name="signup">
              Sign Up
            </button>
            {%endif%}
            {%if logged_in%}
            <button id="logout" name="logout">
              Logout
            </button>
            {%endif%}
          </form>
        </a>
      </div>
    </div>
    <div>

    </div>
  </body>
</html>
