<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" href="static/css/index.css" type="text/css">
    <title>FlashFire Projects</title>
  </head>
  <body>
    <div class="h-banner" id="h-banner">
      <div class="h-banner">
        <img src="static/img/logo.png" id="logo">
        <h1>FlashFire Projects Site</h1>
        <form method="post" action="/logsig">
          <button id="login" name="login">
            Login
          </button>
          <button id="signout" name="signup">
            Sign Up
          </button>
        </form>
      </div>
    </div>
    <div>
      <img src="static/top-image.png" id="top-image">
      <p class="blurb" id="right-info">
      This website is a simple website I put together to act as both a showcase of my web design abilities and to allow people to
      play some basic games which I have created with HTML and Javascript. The website allows you to save progress and leaderboard
      position by logging in. Have fun!
      </p>
    </div>
    <div id="body-content">
      <table id="body-table">
        <tr style="background-color: lightblue;">
          <td colspan="2">
            <h3 style="text-align:left;padding-left:5%;">
            GHS Soundboard
            </h3>
            <p style="text-align:left;width: 70%;padding-left:5%;">A simple soundboard designed to showcase some common catchphrases of the students at Gosford High School.
            Featuring the talents of Daniel Stables, Varun Arora and a variety of other students.</p>
            <a href="ghssound.html">
              <h4 style="position: absolute; left: 10%;">
              Play Now!
              </h4>
            </a>
          </td>
          <td>
            <img alt="GHS Soundboard" src="static/img/p1.png">
          </td>
        </tr>
        <tr style="background-color: rgb(139, 224, 194);">
          <td colspan="3">
            <div>
              <img alt="PepperCarrot-RPG-screenshot" src="static/img/p2.png" style="position: absolute;left:5%;">
              <h3 style="text-align:left;padding-left:75%;">
              Pepper And Carrot RPG
              </h3>
              <p style="text-align:right;width: 40%;margin-left:55%;">A 3D open world RPG based upon the world of the famous
              open-source webcomic Pepper and Carrot. The game is made with the Unity game engine and exported to WebGL.
              Players can be any of their favourite characters from the webcomic.</p>
              <p></p>
              <a href="pacrpg.html">
                <h4 style="text-align:right;position:absolute;right:20%">Play Now!</h4>
              </a>
            </div>
          </td>
        </tr>
        <tr style="background-color: lightblue;">
          <td colspan="2">
            <h3 style="text-align:left;padding-left:5%;">
            Project 3
            </h3>
            <p style="text-align:left;width: 70%;padding-left:5%;">A currently undecided project which will hopefully be
            awesome but that is up for debate</p>
            <a href="proj3.html">
              <h4 style="position: absolute;left: 10%;">
              Play Now!
              </h4>
            </a>
          </td>
          <td>
            <img alt="Project3" src="static/img/p3.png">
          </td>
        </tr>
      </table>
    </div>
    <div class="footer">
      <table class="footer-table" style="padding-top: 2%;">
        <tr>
          <th colspan="2">
          Links
          </th>
        </tr>
        <tr>
          <td colspan="2" class="footer-td">
            <a href="mobile/index.html">
            Mobile Site
            </a>
          </td>
        </tr>
        <tr>
          <td class="footer-td">
            <a href="ghssound.html">
            GHS Soundboard
            </a>
          </td>
          <td class="footer-td">
            <a href="pacrpg.html">
            Pepper & Carrot
            </a>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
