<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Amatic+SC" rel="stylesheet">
  <link rel="stylesheet" href="static/css/index.css" type="text/css">
</head>
<body>
  <div class="h-banner" id="h-banner">
    <div class="h-banner">
      <a href="/">
        <img src="static/img/logo.png" id="logo">
        <h1>FlashFire Projects Site</h1>
      </a>
      <form method="post" action="/logsig">
        <button id="login" name="login">
          Login
        </button>
        <button id="signout" name="signup">
          Sign Up
        </button>

      </div>
    </div>
    <div style="position:absolute;top:22%;">
      {%if login%}
      <!-- TODO Centre everything here -->
        <p>login page</p>
        <input type="text" placeholder="Username" name="username"></input>
        <input type="password" placeholder="Password" name="password"></input>
        <button>Sign In</input>
      {%endif%}
      {%if not login%}
        <p>signup</p>
        <input type="password" placeholder="Confirm Password" name="confirm_password">
        </input>
      {%endif%}
    </form>
  </div>
</body>
